<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card color="warning">
    <img alt="Silhouette of mountains" src="https://pbs.twimg.com/profile_images/1273019238282866689/yEn2L7ny_400x400.jpg" />
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-card-subtitle>{{ nombre }} {{ apellido }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-text color="primary">
      <h1>Generar QR</h1>
    </ion-text>
    <br><br>
    <ion-button (click)="mostrarQr()">Mostrar QR</ion-button>

    <qrcode *ngIf="mostrarQR" [qrdata]="texto" [width]="300"></qrcode>
  </ion-card>

  <ion-card *ngFor="let post of posts">
    <ion-card-header><ion-card-title>{{ post.title }}</ion-card-title></ion-card-header>
    <ion-card-content>{{ post.body }}</ion-card-content>
    <ion-button (click)="editPost(post.id)">Editar</ion-button>
    <ion-button color="danger" (click)="deletePost(post.id)">Eliminar</ion-button>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button shape="round" routerLink="/create"><ion-icon name="add-circle">      </ion-icon></ion-button>
    <ion-title>
      <ion-button shape="round" routerLink="/scan"><ion-icon name="scan-circle-outline"></ion-icon></ion-button>
    </ion-title>
    <ion-button color="danger" (click)="logout()" slot="end" shape="round">           <ion-icon name="exit"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>


