<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">LogIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background"></ion-content>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LogIn</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Iniciar sesión</h1>
    
    <form (submit)="guardarDatos()">
      
      <ion-item>
        <ion-input [(ngModel)]="nombre" name="name" label="Nombre" labelPlacement="floating" maxlength="25" required></ion-input>
        <ion-input [(ngModel)]="apellido" name="sname" label="Apellido" labelPlacement="floating" maxlength="25" required></ion-input>      
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="username" name="username" label="Nombre de usuario" labelPlacement="floating" minlength="5" maxlength="25" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="email" name="email" label="Correo electrónico" labelPlacement="floating" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" name="password" type="password" label="Contraseña" labelPlacement="floating" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" label="Confirmar contraseña" labelPlacement="floating" required></ion-input>
      </ion-item>
      <ion-button type="submit" >Registrarse</ion-button>
      
    </form>

  </div>


