ion-content.background{
  --background: url(https://i.pinimg.com/736x/fd/b1/dd/fdb1dd031be94580aa94451488497963.jpg)  0 0/100% 100% no-repeat;  
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#container {
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  border: 1px solid #a7a7a7;
  border-radius: 0.5cm;
  height: 50vh;
  left: 20%;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

